.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(61, 207, 151, 0.7),
      rgba(40, 112, 180, 0.7)
    ),
    url(../img/mountain.jpg);
  background-size: cover;
  transform: skewY(-7deg);
}
